/* Estilos Generales */
body, html {
    height: 100%; /* Asegura que el cuerpo y el HTML ocupen toda la altura de la ventana gráfica */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo para toda la página */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el contenedor en dos columnas iguales */
    max-width: 1200px; /* Anchura máxima del contenedor */
    height: 100vh; /* El contenedor toma toda la altura de la pantalla */
    margin: auto; /* Centra el contenedor en la ventana gráfica */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    background-color: white;
    border-radius: 8px; /* Bordes redondeados para el contenedor */
}

.logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec; /* Color de fondo para la columna del logo */
}

.logo-column img {
    max-width: 100%; /* Asegura que el logo no exceda el ancho de la columna */
    height: auto; /* Mantiene la proporción del logo */
}

.form-column {
    padding: 20px; /* Espaciado interno para la columna del formulario */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para labels */
label {
    font-size: 14px;
    color: #555;
    margin-top: 5px; /* Espacio antes del label */
}

/* Estilos para inputs de correo electrónico y botones */
input[type="email"], input[type="submit"] {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px; /* Espacio después del input */
    border: 1px solid #ddd;
    border-radius: 4px; /* Bordes redondeados para los inputs */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilos para el botón de recuperar contraseña */
input[type="submit"] {
    background-color: #5cb85c; /* Color verde para el botón */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

/* Cambia el color del botón cuando se pasa el mouse sobre él */
input[type="submit"]:hover {
    background-color: #4cae4c; /* Un tono de verde más oscuro al pasar el ratón */
}



.logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec; /* Color de fondo para la columna del logo */
    overflow: hidden; /* Esto asegura que la imagen no sobresalga del contenedor */
}

.logo-column img {
    height: 100%; /* Establece la altura de la imagen al 100% del contenedor */
    width: auto; /* Mantiene la proporción de la imagen */
}


.logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec; /* Color de fondo para la columna del logo */
    background-image: url('../images/back_for.png'); /* Reemplaza con la ruta real de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}

/* Posicionamiento del contenedor de alertas */
.alert-container {
    position: fixed;
    top: 10px; /* O ajusta según la necesidad para dar espacio desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
    width: auto; /* O un porcentaje específico, como '80%', si deseas que sea más estrecho */
    padding: 10px 0; /* Añade un poco de espacio arriba y abajo de la alerta */
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para las alertas */
.alert {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px; /* Añade un poco de espacio en la parte superior */
    border-radius: 4px;
    background-color: #f8d7da; /* Ejemplo para alert-danger */
    color: #721c24;
    border: none; /* Elimina el borde */
}
/* Estilos para los botones */
.btn-accion {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none; /* Quitar subrayado de enlace */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
    background-color: #5cb85c;
    color: white;
}

/* Cambia el color de los botones cuando se pasa el mouse sobre ellos */
.btn-accion:hover {
    background-color: #4cae4c;
}

/* Estilos para los enlaces dentro de los botones */
.btn-accion a {
    color: inherit; /* Heredar el color del texto del contenedor padre (blanco en este caso) */
    text-decoration: none; /* Quitar cualquier subrayado adicional que pueda heredar */
}




