RewriteEngine On

# Si la solicitud no es un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d
# Si la solicitud es un archivo .php existente
RewriteCond %{REQUEST_FILENAME}\.php -f
# Reescribe la URL eliminando la extensión .php
RewriteRule ^([^\.]+)$ $1.php [NC,L]
