<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
               <rule name="Block specified User-Agents" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="curl/" />
                        <add input="{HTTP_USER_AGENT}" pattern="Wget/" />
                        <add input="{HTTP_USER_AGENT}" pattern="Python-urllib/" />
                        <add input="{HTTP_USER_AGENT}" pattern="Scrapy/" />
                        <add input="{HTTP_USER_AGENT}" pattern="HTTPie/" />
                        <add input="{HTTP_USER_AGENT}" pattern="PostmanRuntime/" />
                        <add input="{HTTP_USER_AGENT}" pattern="Java/" />
                    </conditions>
                    <action type="Rewrite" url="/custom_403.php" />
                </rule>
                <!-- Redirecciona managemate.cl y www.managemate.cl a /sap_caps/index.php -->
                <rule name="Redirect to /sap_caps/index.php" stopProcessing="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^(www\.)?managemate\.cl$" />
                    </conditions>
                    <action type="Redirect" url="http://www.managemate.cl/sap_caps/" redirectType="Permanent" />
                </rule>

              

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
